<h1>Registrujte se </h1>
<form [formGroup]="register" (ngSubmit)="collect()">
  <div class="form-group">
    <label>Ime</label>
    <input type="text" class="form-control" placeholder="Unesite ime" formControlName="ime">
    <div class="form-text text-danger" *ngIf="ime.errors?.['required'] && (ime.dirty || ime.touched)">
      Vaše ime je obavezno.
    </div>
    <div class="form-text text-danger" *ngIf="ime.errors?.['minlength'] && (ime.dirty || ime.touched)">
      Vaše ime je prekratko.
      Potrebna su barem 2 karaktera.
    </div>
    <div class="form-text text-danger" *ngIf="ime.errors?.['pattern'] && (ime.dirty || ime.touched)">
      Vaše ime treba započinjati slovom/ne može sadržavati brojeve.
    </div>
  </div>
  <div class="form-group">
    <label>Prezime</label>
    <input type="text" class="form-control" placeholder="Unesite prezime" formControlName="prezime">
    <div class="form-text text-danger" *ngIf="prezime.errors?.['required'] && (prezime.dirty || prezime.touched)">Vaše prezime je obavezno.
    </div>
    <div class="form-text text-danger" *ngIf="!!prezime.errors?.['minlength'] && (prezime.dirty || prezime.touched)">
      Vaše prezime je prekratko.
      Potrebna su barem 2 karaktera.
    </div>
    <div class="form-text text-danger" *ngIf="prezime.errors?.['pattern'] && (prezime.dirty || prezime.touched)">
      Vaše prezime treba započinjati slovom/ne može sadržavati brojeve.
    </div>
  </div>
  <div class="col ps-3 mb-3">
    <div class="m-1">Spol</div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" value="M" id="male" formControlName="spol">
      <label class="form-check-label" for="male">Muški</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" value="Ž" id="female" formControlName="spol">
      <label class="form-check-label" for="female">Ženski</label>
    </div>
    <div class="form-text text-danger" *ngIf="spol.errors?.['required']">Odaberi spol.</div>
  </div>
  <div class="form-group">
    <label>Godina rodjenja</label>
    <input type="text" class="form-control" placeholder="Unesite godinu rodjenja" formControlName="godinaRodjenja">
    <div class="form-text text-danger" *ngIf="godinaRodjenja.errors?.['required'] && (godinaRodjenja.dirty || godinaRodjenja.touched)">
      Vaš godina rodjenja je obavezna.
    </div>
    <div class="form-text text-danger" *ngIf="!!godinaRodjenja.errors?.['pattern'] && (godinaRodjenja.dirty || godinaRodjenja.touched)">
      Vaš godina rodjenja nije validna.
    </div>
  </div>
  <div class="form-group">
    <label>Broj telefona</label>
    <input type="text" class="form-control" placeholder="Unesite broj telefona" formControlName="brojTelefona">
    <div class="form-text text-danger" *ngIf="brojTelefona.errors?.['required'] && (brojTelefona.dirty || brojTelefona.touched)">
      Vaš broj telefona je obavezan.
    </div>
    <div class="form-text text-danger" *ngIf="!!brojTelefona.errors?.['pattern'] && (brojTelefona.dirty || brojTelefona.touched)">
      Vaš broj telefona nije validan.
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Unesite email" formControlName="email">
    <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
      Vaš email je obavezan.
    </div>
    <div class="form-text text-danger" *ngIf="!!email.errors?.['email'] && (email.dirty || email.touched)">
      Vaš email nije validan.
    </div>
  </div>
  <div class="form-group">
    <label>Korisnicko ime</label>
    <input type="text" class="form-control" placeholder="Unesite korisnicko ime" formControlName="username">
    <div class="form-text text-danger" *ngIf="username.errors?.['required'] && (username.dirty || username.touched)">
      Vaše korisničko ime je obavezno.
    </div>
    <div class="form-text text-danger" *ngIf="username.errors?.['pattern'] && (username.dirty || username.touched)">
      Vaše korisničko ime nije validno.
    </div>
    <div class="form-text text-danger" *ngIf="username.errors?.['minlength'] && (username.dirty || username.touched)">
      Vaše korisničko ime mora sadržavati minimum 6 karaktera.
    </div>
    <div class="form-text text-danger" *ngIf="username.errors?.['maxlength'] && (username.dirty || username.touched)">
      Vaše korisničko ime ne može sadržavati više od 15 karaktera.
    </div>
  </div>
  <div class="form-group">
    <label>Lozinka</label>
    <input type="password" class="form-control" id="password" placeholder="Unesite lozinku" formControlName="password">
    <div class="form-text text-danger" *ngIf="password.errors?.['required'] &&
     (password.dirty || password.touched)">Vaša lozinka je obavezna.
    </div>
    <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] &&
    (password.dirty || password.touched)">
      Vaša lozinka mora imati najmanje 6, a najviše 15 karaktera.
    </div>
  </div>

  <button type="submit"  class="btn btn-primary" >Registruj se</button>
</form>

