label {
  display: block;
  background: cadetblue;
  height:50%;
  width:200px;
  background-color: cadetblue;
}

input, textarea {
  display: block;
  width: 200px;
  margin-bottom: 20px;
  padding: 1em;
  height: 50%;
}

.error {
  margin-top: -20px;
  background: yellow;
  padding: .5em;
  display: inline-block;
  font-size: .9em;
  margin-bottom: 20px;
}


.cta {
  background: #7700FF;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';
}

.results {
  margin-top: 50px;}

strong {
  display: block;
}
span {
  margin-bottom: 20px;
  display: block;
}
.sve{
  position: center ;
  width: 50%;
}
