<form [formGroup]="LogInForma" (ngSubmit)="onSubmit()">
  <label>
    <p style="font-weight: bold; font-size: 17px;"> Korisničko ime: </p>
    <input type="text" [(ngModel)]="this.korisnickoIme" formControlName="korisnickoIme" placeholder="KorisnickoIme">
    <div *ngIf="submitted && LogInForma.controls.korisnickoIme.errors" class="error">
      <div *ngIf="LogInForma.controls.korisnickoIme.errors?.['required']"> Korisničko ime je obavezno! </div>
    </div>
  </label>

  <label>
    <p style="font-weight: bold; font-size: 17px;"> Lozinka: </p>
    <input type="password" [(ngModel)]="this.lozinka" formControlName="lozinka" placeholder="*****">
    <div *ngIf="submitted && LogInForma.controls.lozinka.errors" class="error">
      <div *ngIf="LogInForma.controls.lozinka.errors?.['required']"> Lozinka je obavezna! </div>
    </div>
  </label>


  <button type="click" class="cta" (click)="onSubmit()">Prijavite se</button>
  <br><br>

  <h5 style="font-weight: bold">Nemate račun?</h5>
  <button class="btn btn-info" ><a routerLink="/registracija"> Registrujte se</a></button>

</form>
