<section *ngFor="let s of pogodnosti" class="h-100" style="background-color: white; border-radius: 20px; width:90%">
  <div class="row ">
    <div class="col-6">
      <img style="width: 80%;height:50%" [src]="getslika(s.slike_ids[0])" (click)="otvoriSlike(s)">
    </div>
    <div class="col-6 ">
      <h2>
        <tr>{{s.adresa}}, {{s.lokacija}}
          <button type="button" class="btn btn-info"  (click)=rezervisiNekretninu(s)>Rezerviši</button>
        </tr>
      </h2>
      <tr>{{s.brojKvadrata}} kvadrata</tr>
      <tr>{{s.brojSoba}} sobe</tr>
      <tr>{{s.brojKupatila}} kupatila</tr>
      <tr>{{s.brojKreveta}} kreveta</tr>
      <tr>{{s.cijenaPoDanu}}KM po danu</tr>
      <tr>Avans: {{s.avans ? "Da" : "Ne"}}</tr>
      <tr>Pogodnosti:</tr>
      <span *ngFor="let p of s.pogodnosti">{{p}},</span>

      <button style="float: right" type="button" class="btn btn-outline-dark" (click)="otvoriRezervacije()">Rezervacije
      </button>
    </div>


    <div id="recenzije" style=" width:100%;margin-top:5%">
      <h4>Recenzije:</h4><br>
      <div class="row" *ngFor="let s of recenzijePodaci"
           style="border-radius: 1%;color: black">
        <div class="row justify-content-between" style="padding-top:1% ">
          <div class="col-12 col-md-8">
            <h4>
              <i class="bi-person-fill pe-2" style="font-size: 1.25em"></i>{{s.korisnik}}
            </h4>
          </div>
          <div class="col-6 col-md-3 " style="text-align: end;padding: 0">
            <h6 style="color: grey">
              Postavljeno: {{s.datumPostavljanja}}
            </h6>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-12 col-md-8">
            {{s.komentar}}
          </div>
          <div class="col-6 col-md-2 " style="font-weight: bold; text-align: end;padding: 0">
            <h4>{{s.ocjena}}</h4>
          </div>
        </div>
        <div class="row align-content-lg-end" style="float: right;margin-left: 78%;padding: 0">
          <button style="width: 10%; float: right" class="btn btn-outline-success" (click)="urediKomentar(s)">Uredi</button>
          <button style="width:10%;float: right" class="btn btn-outline-danger" (click)="delete(s)">Obrisi</button>
        </div>
      </div>
    </div>

    <form [formGroup]="noviKomentar" (ngSubmit)="ostaviKomentar()">
      <div id="komentar" style="margin-top:5%">
        <h4>Ostavi komentar:</h4>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-group">
              <label class="form-label">Komentar: </label>
              <input type="text" class="form-control" formControlName="komentar" placeholder="Komentar">
              <div class="form-text text-danger"
                   *ngIf="komentar.errors?.['required'] && (komentar.dirty || komentar.touched)">
                Unos komentara je obavezan.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="form-group">
              <label class="form-label">Ocjena: </label>
              <input type="number" class="form-control" formControlName="ocjena" placeholder="Ocjena"/>
              <div class="form-text text-danger"
                   *ngIf="ocjena.errors?.['required'] && (ocjena.dirty || ocjena.touched)">
                Unos ocjene je obavezan.
              </div>
              <div class="form-text text-danger" *ngIf="ocjena.errors?.['min'] && (ocjena.dirty || ocjena.touched)">
                Minimalna ocjena može biti 1.
              </div>
              <div class="form-text text-danger" *ngIf="ocjena.errors?.['max'] && (ocjena.dirty || ocjena.touched)">
                Maksimalna ocjena može biti 10.
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success" style="float: right">Ostavi komentar</button>
      </div>
    </form>

    <table *ngIf="rezervacijaPodaci!=null" style="border-radius: 1%; background-color: #eeeeee; color: black">
      <thead>
      <tr>
        <th scope="col">Korisnik</th>
        <th scope="col">Osobe</th>
        <th scope="col">Djeca</th>
        <th scope="col">Check-in</th>
        <th scope="col">Check-out</th>
        <th scope="col">Status</th>
        <th scope="col">Cijena</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of rezervacijaPodaci">
        <td>{{s.korisnik}}</td>
        <td>{{s.brojOsoba}}</td>
        <td>{{s.djeca}}</td>
        <td>{{s.checkIn}}</td>
        <td>{{s.checkOut}}</td>
        <td>{{s.status}}</td>
        <td>{{s.cijena}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row" style="width: 100%;padding: 0;margin: 0;">
      <div class="col">
        <label class="form-label">Nova slika:</label>
        <input class="form-control" type="file" id="slika-input" accept="image/*" (change)="generisi_preview()"/>
        <img style="max-width: 100%; height: 200px" src="{{slika.slika}}">
        <button style="margin-left: 90%;width: 10%" class="btn btn-outline-success" (click)="spasiSliku()">Spasi</button>
      </div>
    </div>
  </div>
</section>

<div *ngIf="slike!=null" class="modal fade show bd-example-modal-xl" id="exampleModalLive2" tabindex="-1"
     aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="slike=null"></button>
      </div>
      <div class="modal-body">
        <td>
          <img *ngFor="let s of objekat.slike_ids" [src]="getslika(s)" style="height: 300px;width: 400px">
        </td>
      </div>
    </div>
  </div>
</div>







