<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card text-black mb-3" style="max-width: 30rem; background-color: aliceblue">
  <div class="card-header" style="font-size: xx-large">Vaš profil: </div>
  <div class="card-body">
    <h5 style="font-weight: bold"> Korisničko ime:</h5>
    <h5>{{loginInfo().autentifikacijaToken!.korisnickiNalog!.username}}</h5><br>
    <h5 style="font-weight: bold"> Email:</h5>
    <h5>{{loginInfo().autentifikacijaToken!.korisnickiNalog!.email}}</h5>
  </div>
</div>
<div style="float:left">
  <button type="button" class="btn btn-primary" (click)="promjenaLozinke=true"> Promijeni lozinku</button>
</div>
<div style="float: right; color: black;">
  <button type="button" class="btn btn-primary" (click)="otvoriNekretnineVlasnika(loginInfo().autentifikacijaToken!.korisnickiNalog!.id)">Moje nekretnine</button>
</div>




<div *ngIf="promjenaLozinke==true" class="modal fade show" id="exampleModalLive2" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;  margin-top: 10%; margin-bottom: 10%;margin-left: 5%">
  <div class="modal-dialog">
    <div class="modal-content"  style="background-color: rgb(53,53,53);color: white">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="promjenaLozinke=false"></button>
      </div>

      <div class="h-100" >
        <div class="modal-body">
          <div class="mb-3" >
            <label class="form-label" style="font-weight: bold; font-size: larger; color: white; font-style: initial" >Trenutna lozinka:</label>
            <input class="form-control" [(ngModel)]="novaSifra.staraLozinka">
          </div>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" style="font-weight: bold; font-size: larger; color:white ">Nova lozinka:</label>
            <input class="form-control" [(ngModel)]="novaSifra.novaLozinka">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"(click)="promjenaLozinke=false">Odustani</button>
          <button type="button" class="btn btn-primary" (click)="PromijeniPassword()">Spasi</button>
        </div>
      </div>
    </div>
  </div>

</div>
