<table class="table table-warning">
  <tr>
    <th>Broj kvadrata</th>
    <th>Broj soba</th>
    <th>Broj kupatila</th>
    <th>Broj kreveta</th>
    <th>Cijena po danu</th>
    <th>Adresa</th>
    <th>Avans</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of kucePodaci">
    <td>{{s.brojKvadrata}}</td>
    <td>{{s.brojSoba}}</td>
    <td>{{s.brojKupatila}}</td>
    <td>{{s.brojKreveta}}</td>
    <td>{{s.cijenaPoDanu}}</td>
    <td>{{s.adresa}}</td>
    <td>{{s.avans}}</td>
  </tr>
  </tbody>
</table>

