<td *ngFor="let s of kucePodaci">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <tr>Broj kvadrata: {{s.brojKvadrata}}</tr>
      <tr>Broj soba: {{s.brojSoba}}</tr>
      <tr>Broj kupatila: {{s.brojKupatila}}</tr>
      <tr>Broj kreveta: {{s.brojKreveta}}</tr>
      <tr>Cijena po danu: {{s.cijenaPoDanu}}</tr>
      <tr>Adresa: {{s.adresa}}</tr>
      <tr>Avans: {{s.avans?"Da":"Ne"}}</tr>
      <tr>Lokacija: {{s.lokacija}}</tr>
      <tr><button class="btn btn-primary" (click)="detaljiNekretnine(s)">Detalji</button></tr>
    </div>
  </div>
</td>

