

<section>
  <div class="naslovna">
    <div class="tekst">
      <h1 class="titleA">OpenDooors</h1>
      <p>
        OpenDoors je aplikacija koja omogućava krajnjim korisnicima iznajmljivanje nekratnina, a vlasnicima nekretnina omogućava ustupanje istih na korištenje.
      </p>
      <a class="nav-link active" routerLink="/registracija">
        <button class="btn" > Isprobajte OpenDoors </button>
      </a>
      <div class="stats">
        <div class="num">

          <h1>+20 Korisnika</h1>
        </div>
        <div class="num">
          <h1>+10 Nekretnina</h1>
        </div>

      </div>
    </div>
    <div class="slika">
      <img src="./assets/Images/back.jpg" alt="naslovnaS">
    </div>
  </div>
  <div class="about">
    <h1 class="aboutT">O nama</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>

  <div class="newsteller">
    <p>Za posebne ponude upišite svoj e-mail:</p>
    <input type="text">
  </div>
</section>




