
.naslovna{
  display:flex;

}
.slika{
  padding-left: 15rem;
  padding-top: 3rem;
  margin-top:-10%;

}
.titleA{
  font-size:xxx-large;
  padding-bottom:3rem;
}
.tekst{
  font-weight:bold;
  font-size:x-large;
  justify-items: left;
  padding-top:3rem;
  padding-bottom:3rem;

}
.btn{
  border-radius: 18px;
  color:white;
  background-color: rgb(53,53,53);
}
.stats{
  display:flex;
  padding-top:7rem;
  margin-left:-20%;
  justify-content:left;
}
.num{
  padding-right:1rem;
}
.about{
  justify-items: center;
  width: 900px;
  padding-top:5rem;
  text-align: center;
  padding-bottom:4rem;
}
.aboutT{
  font-size:xxx-large;
  padding-bottom:3rem;
}

.newsteller{
  color:white;
  background-color: rgb(53,53,53);
  padding-top:3rem;
  height: 200px;
  text-align: center;
}

