<div class="row">
  <div class="col-md-4 ml-auto" *ngFor="let s of nekretninaVlasnikPodaci"
       style="background-color: white;  width:47%; margin-top:1%;padding: 2%">
    <div class="row ">
      <div class="col-6">
        <tr><img style="width: 90%;height:70%" [src]="getslika(s.slike_ids[0])"></tr>
        <tr>{{s.adresa}}, {{s.lokacija}}</tr>
      </div>
      <div class="col-6">
        <tr>{{s.brojKvadrata}} kvadrata</tr>
        <tr>{{s.brojSoba}} sobe</tr>
        <tr>{{s.brojKupatila}} kupatila</tr>
        <tr>{{s.brojKreveta}} kreveta</tr>
        <tr>{{s.cijenaPoDanu}}KM po danu</tr>
        <tr>Avans: {{s.avans ? "Da" : "Ne"}}</tr>
        <tr>
          <button class="btn btn-primary"  class="btn btn-outline-danger" (click)="detaljiNekretnine(s)">Detalji</button>
          <button class="btn btn-outline-danger" *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.isVlasnik" (click)="delete(s)">Obrisi</button>
        </tr>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.isVlasnik" ><a routerLink="/add-nekretnina" style="color:black">Dodaj nekretninu</a></button>
