<section class="h-100" style="background-color: rgb(53,53,53); border-radius: 20px; color: white; padding:2%"
         xmlns="http://www.w3.org/1999/html">
  <div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label" style="color: white">{{'SquareFootage'| translate}}: </label>
          <input type="number" class="form-control" placeholder="Broj kvadrata" [(ngModel)]="novaNekretnina.brojKvadrata">
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Rooms'| translate}}: </label>
          <input type="number" class="form-control" placeholder="Broj soba" [(ngModel)]="novaNekretnina.brojSoba"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Restrooms'| translate}}: </label>
          <input type="number" class="form-control" placeholder="Broj kupatila" [(ngModel)]="novaNekretnina.brojKupatila">
        </div>

      </div>
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Beds'| translate}}: </label>
          <input type="number" class="form-control" placeholder="Broj kreveta" [(ngModel)]="novaNekretnina.brojKreveta"/>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Price'| translate}} {{'PerDay'| translate}}: </label>
          <input type="number" class="form-control" placeholder="Cijena po danu" [(ngModel)]="novaNekretnina.cijenaPoDanu">
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Address'| translate}}: </label>
          <input class="form-control" placeholder="Adresa" [(ngModel)]="novaNekretnina.adresa"/>
        </div>
      </div>
    </div>

    <form>
      <label>{{'Advance'| translate}}: </label>
      <input id="avans" type="checkbox" [checked]="novaNekretnina.avans==true" (change)="promjenaAvansa($event)">{{'Yes'| translate}}
    </form>
    <label class="form-label">{{'Amenities'| translate}}:</label>
    <form>
      <ng-container *ngFor="let object of pogodnostiNekretnine">
        <input type="checkbox" name="pogodnost"  [(ngModel)]="object.selected"> {{object.naziv}}
      </ng-container>
    </form>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'Location'| translate}}</label>
          <select class="form-control" [(ngModel)]="novaNekretnina.lokacijaId">
            <option *ngFor="let x of lokacije" [value]="x.id">{{x.dioGrada + "-" + x.grad}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label class="form-label">{{'RealType'| translate}}</label>
          <select class="form-control" [(ngModel)]="novaNekretnina.tipId">
            <option *ngFor="let x of tipovi" [value]="x.id">{{x.tip}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mb-3" *ngIf="urediNekretninu==null">
      <label class="form-label">{{'NewPhoto'| translate}}</label>
      <input class="form-control" id="slika-input" type="file" accept="image/*" multiple="multiple"
             (change)="generisi_preview()"/>
      <img *ngFor="let s of novaNekretnina.slike" style="max-width: 100%; height: 200px" src="{{get_slika(s)}}">
    </div>
    <button class="btn btn-info"  *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.isVlasnik" (click)="postaviNekretninu()">
      {{'Save'| translate}}</button>
    <button class="btn btn-outline-danger"  *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.isVlasnik" routerLink="/" >
      {{'Cancel'| translate}}</button>
  </div>

</section>

