<!-- faq-area -->
<section class="faq-area">
  <div class="container">
    <div class="faq-wrap">
      <div class="row">
        <div class="col-lg-5">
          <div class="faq-title mb-50">
            <div class="section-title">
              <span class="sub-title">Get answer</span>
              <h2 class="title">General questions</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="faq-item-wrap">
            <div class="faq-item">
              <h2 class="title">High Quality Rooms</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Best Amenities at The Best Price</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Campfire & Nature Walks</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Pickup And Drop Facility</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-wrap">
      <div class="row">
        <div class="col-lg-5">
          <div class="faq-title mb-50">
            <div class="section-title">
              <span class="sub-title">Get answer</span>
              <h2 class="title">Other <br> questions</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="faq-item-wrap">
            <div class="faq-item">
              <h2 class="title">Turiest Guide Support</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Hight Class Security</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Quick Access to Tourist Attractions</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
            <div class="faq-item">
              <h2 class="title">Independent Cottages</h2>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq-area-end -->
